* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#app {
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;
}

.error-red {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff8585;
  border-radius: 9px;
}

.success-green {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #7ddc7d;
  border-radius: 9px;
}

.pop-error-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #000000;
  background-color: rgba(0,0,0,0.7);
}

.pop-error-message ul {
  margin: 60px auto;
  width: 90%;
  max-width: 1000px;
  color: white;
  font-size: 16px;
}
